/* 
 * GitHub Repository Phishing Alert Appeal & Project Verification
이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
his CSS is part of a student project. 
Any resemblance to real-world commercial sites is purely for design practice.
*/
/* ======================================================header */
#wrap header {
    position: fixed;
    left:0; right:0;
    top:0;
    background-color:#302926;
    z-index:999;
}
#wrap header .inner {
    max-width:1440px;
    margin: 0 auto;
    display:flex;
    height:72px;
    justify-content:space-between; align-items:center;
}
#wrap header .inner .header_left {display:flex; align-items:center; gap:50px;}
#wrap header .inner .header_left #t_nav_open {display:none;}
#wrap header .inner .header_left #t_nav_open img {width:100%;}
#wrap header .inner .header_left h1 {width:74px;}
#wrap header .inner .header_left h1 a {}
#wrap header .inner .header_left h1 a img {width:100%;}
#wrap header .inner .header_left nav {display:flex;}
#wrap header .inner .header_left nav #gnb_main {
    display:flex;
    position: relative; padding-right:30px;}
#wrap header .inner .header_left nav #gnb_main::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 30px;
    bottom: 0;
    width: 1px; height:10px;
    background-color: #fff; margin:0 35px;
}
#wrap header .inner .header_left nav #gnb_main li {margin-right:30px;}
#wrap header .inner .header_left nav #gnb_main li a {
    display: block;  height: 100%; line-height:72px;
    color:#fff; font-size:0.81rem;
    position: relative; 
    display: flex; font-weight:300;
    align-items: center;
    height: 100%;
}
#wrap header .inner .header_left nav #gnb_main li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height: 3px;
    background-color:#856363; transform: scaleX(0); transition: transform 0.3s ease;
}
#wrap header .inner .header_left nav #gnb_main li a:hover::after {width: 100%; transform: scaleX(1);}
#wrap header .inner .header_left nav #gnb_promotion {display:flex;}
#wrap header .inner .header_left nav #gnb_promotion li {margin-right:25px;}
#wrap header .inner .header_left nav #gnb_promotion li a {
    display: block;  height: 100%; line-height:72px;
    color:#fff; font-size:0.81rem;  font-weight:300;
    position: relative; 
    display: flex;
    align-items: center;
    height: 100%;
}
#wrap header .inner nav #gnb_promotion li a::after  {
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height: 3px;
    background-color:#856363; transform: scaleX(0); transition: transform 0.3s ease;
}
#wrap header .inner nav #gnb_promotion li a:hover::after {width:100%; transform: scaleX(1);}
#wrap header .inner .header_right {display: flex; flex-flow:row nowrap; align-items:center;}
#wrap header .inner .header_right .header_info {display:flex; gap:20px; }
#wrap header .inner .header_right .header_info li {text-align: center; position: relative;}
#wrap header .inner .header_right .header_info > li > a {
    display: block;  height: 100%; line-height:72px;
    color:#fff; font-size:0.81rem;  font-weight:300;
    position: relative; 
    display: flex;
    align-items: center;
    height: 100%;
}
#wrap header .inner .header_right .header_info > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 0;
    height: 3px;
    background-color: #856363; transform: scaleX(0); transition: transform 0.3s ease;
}
#wrap header .inner .header_right .header_info > li > a:hover::after {width:100%; transform: scaleX(1);}
#wrap header .inner .header_right .header_info li .info_depth2 {
    position:absolute; top: 100%; left: 50%; transform:translateX(-50%);
    background-color: rgba(48, 41, 38, 0.6); width:149px;
    padding:20px 20px; display:none;
}
#wrap header .inner .header_right .header_info li .info_depth2 li {
    margin-bottom:15px;
}
#wrap header .inner .header_right .header_info li .info_depth2 li a {color:#fff; font-size:0.81rem;}
#wrap header .inner .header_right .user_menu {display: flex; gap:20px; margin-left: 25px;}
#wrap header .inner .header_right .user_menu .search {width:20px;}
#wrap header .inner .header_right .user_menu .search a {}
#wrap header .inner .header_right .user_menu .search a img {width:100%;}
#wrap header .inner .header_right .user_menu .cart {width:20px;}
#wrap header .inner .header_right .user_menu .cart a {}
#wrap header .inner .header_right .user_menu .cart a img {width:100%;}
#wrap header .inner .header_right .user_menu .my {width:20px;}
#wrap header .inner .header_right .user_menu .my a {}
#wrap header .inner .header_right .user_menu .my a img {width:100%;}
/* ================================================타이틀 공통*/
.title {text-align: center; padding-bottom:50px;}
.title h1 {
    font-size: 2.25rem; font-weight:500; 
    margin-bottom:18px;}
.title p {font-size:1.13rem;}
/* ================================================옵션 공통*/
.option {display:flex; margin-bottom:30px;}
.option .menu {display:flex; gap:30px; align-items: center;}
.option .menu .active {}
.option .menu .active a {color:#000;}
.option .menu li {}
.option .menu li a {color:#BABABA;}
.option .sort {}
.option .sort .sort_tabs {border: #BABABA solid 1px;}
.option .sort .sort_tabs .option {}
/* ================================================상품 소개, 가격 공통*/
.swiper .swiper-wrapper .swiper-slide p {font-size:0.75rem; color:#828282; margin:5px 0;}
.swiper .swiper-wrapper .swiper-slide .price {font-size:0.94rem; color:#000;}
/* ================================================콜렉션 상품 소개 텍스트(제목 내용)*/
.promo_wrap .promo_txt h1 {font-size:1.5rem; line-height:1.4;}
.promo_wrap .promo_txt h1 span {font-size:1.75rem; font-weight:600; display: block; line-height:1.4;}
.promo_wrap .promo_txt p {font-size:1.13rem; line-height:1.7; margin-top:40px; font-weight:300;}
.promo_wrap .promo_txt span {font-weight:300;}
/* ================================================콜렉션 상품 목록*/
#wrap main .collections_wrap .collections {}
#wrap main .collections_wrap .collections .swiper {}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper {}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper .swiper-slide {}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper .swiper-slide a img {width:100%;}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper .swiper-slide h2 {margin-bottom:10px; line-height:1.3; margin-top:20px; text-align: center;}
#wrap main .collections_wrap .collections .swiper .swiper-wrapper .swiper-slide p {text-align: center;}
/* ======================================================footer */
#wrap footer {background-color:#302926;}
#wrap footer .info_section {
    display:flex; justify-content:center; align-items:center;
    padding:30px 0; max-width:1440px; margin: 0 auto;
}
#wrap footer .info_section h1 {width:95px; margin-right:40px;}
#wrap footer .info_section h1 a {}
#wrap footer .info_section h1 a img {width:100%;}
#wrap footer .info_section address {display:flex; flex-flow:column nowrap; gap:20px; margin-right:550px;}
#wrap footer .info_section address .legal {display:flex; gap:20px;}
#wrap footer .info_section address .legal li {}
#wrap footer .info_section address .legal li a {font-size:0.81rem; color:#fff; font-weight:300;}
#wrap footer .info_section address span {font-size:0.81rem; color:#fff; line-height:1.5; font-weight:300;}
#wrap footer .info_section .info {display: flex; flex-flow: column nowrap; gap:5px; text-align:right;}
#wrap footer .info_section .info .sns {display:flex; gap:10px; justify-content:end; margin-bottom:10px;}
#wrap footer .info_section .info .sns li {width:24px;}
#wrap footer .info_section .info .sns li a {}
#wrap footer .info_section .info .sns li a img {width:100%;}
#wrap footer .info_section .info span {font-size:0.81rem; color:#fff; line-height:1.5; font-weight:300;}